.slider {
    background-image: url("https://i.pinimg.com/originals/d8/0b/8d/d80b8dda0fa0a66a0686bb68a914cdc8.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.title{
    background: rgba(255, 0, 0, 0.5);

}
#yes{
    cursor: pointer;
    border: none;
    color: white;
    background: rgba(255, 0, 0, 0.5);
}
#not{
    cursor: pointer;
    border: none;
    color: white;
    background: rgba(255, 0, 0, 0.5);
}
p{
    color: gray;
}
.hidden{
    display: none;
}
.square {
    background: white;
    width: 320px;
    -webkit-box-shadow: 11px 10px 47px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 47px 10px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 47px 10px rgba(0,0,0,0.75);
}
.logo{
    color: #9A031C;
}
.hover {
    border-radius: 50%;
    color: gray;
    cursor: pointer;
}

.hover:hover {
    color: white;
    background: #9A031C;
}
.m-d {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* m-d Content */
.m-c {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The off Button */
.off {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.off:hover,
.off:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
@media (min-width: 500px){
    .slider2 {
        background-image: url("https://i.pinimg.com/originals/d8/0b/8d/d80b8dda0fa0a66a0686bb68a914cdc8.jpg");
        background-size: cover;
        background-position: center;
        height: 900px;
    }

}